


<!-- Modal -->

<form name="mainform" ng-class="{submitted:submitted}" ng-submit="mainform.$valid && submitForm()" >
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

 
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
     <!--  <button type="button" class="close" 
      data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
  </button> -->
  <h4 class="modal-title" id="myModalLabel">
      <b>Starting details</b><br><p style="font-size: 12pt;">(All fields required)</p>
  </h4>
</div>

<!-- Modal Body -->
<div class="modal-body">


    <div class="form-group">
        <label for="firstdate">Date Aquired Learner Permit / Last Log Entry Date</label>
        <input type="date" class="form-control" name="firstdate" min="2007-01-01" max="2050-12-31" ng-model="user.startdate"  required/>
    </div>

    
    <div class="entry input-group form-group">
    <label>Total 'All Driving' Time</label>
        <div class="form-inline" style="margin-bottom: 10px;">
            <input type="number" class="form-control" name="totaldrivetimeHrs"  min="0" max="200" style="width: 70px;" placeholder="Hrs" ng-model="user.alldrivehrs" required/>
            <input type="number" class="form-control"  name="totaldrivetimeMins" max="59"  min="0" maxlength="2" style="width: 70px;" placeholder="Mins" ng-model="user.alldrivemins" required/>
        </div>
    </div>


    
    <div class="entry input-group form-group"   >
    <label>Total 'Night Driving' Time</label>
        <div class="form-inline" style="margin-bottom: 15px;">
            <input type="number" class="form-control" name="totalnightdrivetimeHrs" min="0" max="200" style="width: 70px;" placeholder="Hrs" ng-model="user.nightdrivehrs" required/>
            <input type="number" class="form-control" name="totalnightdrivetimeMins" max="59"  min="0" maxlength="2" style="width: 70px;" placeholder="Mins" ng-model="user.nightdrivemins" required />
        </div>
    </div>
    <div ng-controller="CarlistController as carlist">
        <div class="entry input-group form-group" ng-repeat="car in CarCount.vals track by $index" ng-show="isVisible($index)" >
            <div class="form-inline">
                <input class="form-control" id="car_{{$index}}" type="text" style="width: 50%;" value="helloworld" placeholder="Rego" min-length="2" ng-model="CarCount.vals[$index].rego" required/>
                <input class="form-control" name="user.car_{{$index}}.odometer" type="number" style="width: 50%;" max="2000000" min="0" placeholder="Odometer" ng-model="CarCount.vals[$index].odometer" required />
            </div>

            <span class="input-group-btn">
                <button ng-class="{'btn btn-success btn-add': $last, 'btn btn-danger btn-remove' : !$last}" type="button" ng-click="$last ? addField($index) : removeField($index)">
                  <span ng-class="{'glyphicon glyphicon-plus' : $last, 'glyphicon glyphicon-minus' : !$last}"></span>
              </button>
            </span>
        </div>
        
    </div>  

</div>
<pre>values = {{user | json}}</pre>
<pre>values = {{CarCount | json}}</pre>


<!-- Modal Footer -->
<div class="modal-footer">
    <input type="submit" class="btn mybtn-primary" ng-click="submitForm()" data-toggle="{{showmodal}}" data-target="#myModal"/>
</div>

</form>
