<div style="padding: 20px; min-width: 1024px; overflow: auto; min-height:600px; height: auto; ">
	<div class="generatePageBtn" >
		<button class="btn mybtn-primary btn-lg"  ng-hide="showbutton" ng-click="generateInitalPage()" >Generate Page</button>
	</div>
	<div style="margin-left: 10px;">
		<ul class="nav mynav-pills" id="tabs" >
			<li ng-repeat="page in pages track by $index" ng-class="{active:isSelected($index)}"> <a href ng-click="selectPage($index)"> Page {{$index + 1}} </a> </li>
			<span class="addpage" >
				<button class="btn"  style="margin-top: 3px;  margin-bottom: 10px;" ng-click="addPage();" ng-show="showbutton">+</button>
			</span>
		</ul>	
	</div>
	<div ng-repeat="page in pages track by $index" ng-show="isSelected($index)" style="">
		<div class="shadowsmall" id="logPagePaper" >
			<left-Logpage></left-Logpage>
		</div>
		<div class="shadowsmall" id="logPagePaper">
			<right-Logpage></right-Logpage>			
		</div>
	</div>
</div>