



<div class="" ng-init="tabs.selectTab(0)" style="back	ground-color:#EEE; padding: 20px; min-width: 1024px; overflow: auto; min-height:600px;	height: auto; ">
	<div class="generatePageBtn" >
		<button class="btn mybtn-primary btn-lg" ng-click="generatePage()" ng-hide="showinstance">Generate Page</button>
	</div>
				
	<div style="">
		<ul class="nav mynav-pills" id="tabs" >
			<li ng-repeat="page in getPageCount() track by $index" ng-class="{active:tabs.isSelected($index)}"> <a href ng-click="tabs.selectTab($index)"> Page {{$index + 1}} </a> </li>
			
			<span class="addpage" >
				<button class="btn"  style="margin-top: 3px;" ng-click="addPage(); tabs.selectTab(pageCount - 1);" ng-show="showbutton">+</button>
			</span>

		</ul>	
	</div>

	<div ng-repeat="page in getPageCount() track by $index" ng-show="tabs.isSelected($index) && showinstance" style=" padding:10px;">
		<div class="shadowsmall" style="background-color:#FFF; min-width: 1000px; margin-right: 10%; padding-top: 50px; padding-bottom: 50px;" >
			<left-Logpage></left-Logpage>
		</div>
		<div class="shadowsmall" style="background-color:#FFF; min-width: 1000px; margin-right: 10%; padding-top: 10px; padding-bottom: 50px">
			<right-Logpage></right-Logpage>
				
		</div>
	</div>
</div>